body {
    font-family: Arial, sans-serif;
    background-color: #ffcb77;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color:  #fa99e2;;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 10px;


}

button {
    padding: 10px;
    background-color: #0cdc28;
    color: #0cdcd2;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:  #280cdc;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
